<a href="https://colab.research.google.com/github/imbuoyp/Python-Data/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
df_seoul = pd.read_csv('seoul_df.csv')

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df_seoul

        연번  확진달  확진일  ...               등록일               수정일  노출여부
0     5748   10   21  ...  2020-10-22 10:58  2020-10-22 10:58     Y
1     5747   10   21  ...  2020-10-22 10:58  2020-10-22 10:58     Y
2     5746   10   21  ...  2020-10-22 10:58  2020-10-22 10:58     Y
3     5745   10   21  ...  2020-10-22 10:58  2020-10-22 10:58     Y
4     5744   10   21  ...  2020-10-22 10:58  2020-10-22 10:58     Y
...    ...  ...  ...  ...               ...               ...   ...
5743     5    1   31  ...  2020-10-22 10:58   2020-10-23 9:00     Y
5744     4    1   30  ...  2020-10-22 10:58   2020-10-23 9:00     Y
5745     3    1   30  ...  2020-10-22 10:58   2020-10-23 9:00     Y
5746     2    1   30  ...  2020-10-22 10:58   2020-10-23 9:00     Y
5747     1    1   24  ...  2020-10-22 10:58   2020-10-23 9:00     Y

[5748 rows x 15 columns]

In [ ]:
df_world_corona = pd.read_csv('world_corona_201104.csv')

In [ ]:
df_world_corona

      iso_code continent  ... life_expectancy human_development_index
0          AFG      Asia  ...           64.83                   0.498
1          AFG      Asia  ...           64.83                   0.498
2          AFG      Asia  ...           64.83                   0.498
3          AFG      Asia  ...           64.83                   0.498
4          AFG      Asia  ...           64.83                   0.498
...        ...       ...  ...             ...                     ...
53982      ZWE    Africa  ...           61.49                   0.535
53983      ZWE    Africa  ...           61.49                   0.535
53984      ZWE    Africa  ...           61.49                   0.535
53985      ZWE    Africa  ...           61.49                   0.535
53986      ZWE    Africa  ...           61.49                   0.535

[53987 rows x 49 columns]

In [ ]:
df_seoul_info = pd.read_csv('seoul_info.csv')

In [ ]:
#df_world_corona["total_deaths"]
df_world_corona['location'] == 'Japan'
df_world_corona[''].value_counts()

0        False
1        False
2        False
3        False
4        False
         ...
53982    False
53983    False
53984    False
53985    False
53986    False
Name: location, Length: 53987, dtype: bool

In [ ]:
df_world_corona.head()

  iso_code continent  ... life_expectancy human_development_index
0      AFG      Asia  ...           64.83                   0.498
1      AFG      Asia  ...           64.83                   0.498
2      AFG      Asia  ...           64.83                   0.498
3      AFG      Asia  ...           64.83                   0.498
4      AFG      Asia  ...           64.83                   0.498

[5 rows x 49 columns]

In [ ]:
df_world_corona.loc(columns = 'total_deaths', inplace=True)

TypeError: ignored

In [ ]:
df_world_corona.len(['total_deaths'])

AttributeError: ignored

In [ ]:
df_seoul['접촉력']
df_seoul['접촉력'].value_counts()

기타 확진자 접촉        818
성북구 사랑제일교회 관련    641
확인 중             586
해외 접촉 추정         415
감염경로 조사중         373
                ...
#9020 접촉           1
#136 접촉            1
#9572 접촉           1
관악구 식당관련           1
#8044 접촉           1
Name: 접촉력, Length: 295, dtype: int64

In [ ]:
df_seoul['확진달']
df_seoul['확진달'].value_counts()

8     2416
9     1304
6      460
10     425
3      391
7      281
5      228
4      156
2       80
1        7
Name: 확진달, dtype: int64

In [ ]:
df_seoul['지역']
df_seoul['지역'].value_counts()

관악구     452
송파구     361
성북구     344
타시도     331
노원구     323
강남구     296
강서구     295
은평구     259
동작구     254
도봉구     223
서초구     210
중랑구     202
영등포구    200
강동구     199
구로구     193
양천구     186
마포구     180
동대문구    172
강북구     156
용산구     140
광진구     136
서대문구    135
성동구     130
기타      117
금천구      96
종로구      94
중구       64
Name: 지역, dtype: int64

In [ ]:
print(5748/452)

12.716814159292035

In [ ]:
print(df_world_corona['location'])

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
53982       Zimbabwe
53983       Zimbabwe
53984       Zimbabwe
53985       Zimbabwe
53986       Zimbabwe
Name: location, Length: 53987, dtype: object

In [ ]:
print(type(df_world_corona['location']))

<class 'pandas.core.series.Series'>

In [ ]:
df_world_corona[['location'] == 'Japan']
#freq = df_world_corona(columns == ['Japan']).value_counts()
#print(freq)

KeyError: ignored

In [ ]:
data =  df_world_corona['date'].str.contains("2020-10-30")
one = df_world_corona[data]
print(one.shape)
print()
one

(212, 49)

      iso_code continent  ... life_expectancy human_development_index
304        AFG      Asia  ...           64.83                   0.498
545        ALB    Europe  ...           78.57                   0.785
855        DZA    Africa  ...           76.88                   0.754
1097       AND    Europe  ...           83.73                   0.858
1325       AGO    Africa  ...           61.15                   0.581
...        ...       ...  ...             ...                     ...
53119      WLF   Oceania  ...           79.94                     NaN
53312      ESH    Africa  ...           70.26                     NaN
53521      YEM      Asia  ...           66.12                   0.452
53752      ZMB    Africa  ...           63.89                   0.588
53981      ZWE    Africa  ...           61.49                   0.535

[212 rows x 49 columns]

In [ ]:
df_world_corona sum(total_death)

AttributeError: ignored

In [ ]:
df.a.nlargest

In [ ]:
de_world_corona(continent):
    n = len(continent)
    maxValue = continent[0]
    for i in range(1,n):
      if continent[i] > maxIndex:
        maxValue = continent[i]
    return maxIndex = i
    print(max_search(continent))

SyntaxError: ignored

In [ ]:
def get_first_largest(arr):
  first_largest = None
  for e in arr:
    if first_largest is None:
      first_largest = e
    else:
      if e > first_largest:
        first_largest = e
  return first_largest

In [ ]:
from tensorflow import keras

In [ ]:
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation
from keras.callbacks import EarlyStopping
import pandas as pd
import numpy as np

In [ ]:
csv = pd.read_csv('bmi.csv')
csv

FileNotFoundError: ignored

In [ ]:
model =

In [ ]:
X_train.shpae

In [ ]:
X_train /= 255
x_test /= 255

In [ ]:
#모델구축
model.compile(
    loss='categorical_crossentropy',
    optimizer=adam(),
    matrics=[accuracy']
)

SyntaxError: ignored

In [ ]:
#레이블
bclass = {"thin":[1, 0, 0], "normal":[0, 1, 0], "fat":[0, 0, 1]}

In [ ]:
y = np.empty((20000, 3))

In [ ]:
for i, v in enumerate(csv['labe']):
  y[i] = bclass[v]

NameError: ignored

In [ ]:
X_train, y_train = x[1:15001], y[1:15001]
X_test, y_test = x[15001:20001], y[15001:20001]

NameError: ignored

In [ ]:
model = Sequentail()
model.add(Dense(512, input_shape=(2,)))
model.add(Activation('relu'))
model.add(Dropout(0.1))
model.add(Dense(512))
model.add(Activation('relu'))
model.add(Dropout(0.1))
model.add(Dense(3))
model.add(Activation('softmax'))

NameError: ignored

In [ ]:
model.summary()

NameError: ignored

In [ ]:
#모델구축
model.compile(
    loss = 'categorical_crossentropy'
    optimizaer = 'rmsprop',
    metrics=['accuracy']
)

In [ ]:
#훈련
history = model.fit(
    x_train, y_train,
    batch_size=100,
    epochs=20
    validation_split=0.1,
    callbacks=[EarlyStopping(monitor='val_loss'm patience=2)],
    veervose=1)

In [ ]:

#테스트 데이터로 평가
score = model.evaluate(X_test, y_test)

In [ ]:
print('loss', score[0])

In [ ]:
print('accuracy : ', score[1])

In [ ]:
print("Hello,World!")

Hello,World!

In [ ]:
print(1)

1

In [ ]:
print([1,2,3])

[1, 2, 3]

In [ ]:
print("Hi",123)

Hi 123

In [ ]:
print(1);print(2)

1
2

In [ ]:
1+2

3

In [ ]:
a=1
if a == 0:
    print("1입니다")
else:
    print("1이 아닙니다")

1이 아닙니다

In [ ]:
import os

In [ ]:
os.system("pause")

32512

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
string = 'name'
print(string)

name

In [ ]:
string = 123
print(string)

123

In [ ]:
a = 1
type(a)

int

In [ ]:
id(a)

10914496

In [ ]:
a = 'string'
type(a)

str

In [ ]:
id(a)

140553103404816

In [ ]:
a = str(1)
type(a)

str

In [ ]:
a = 1
type(a)

int

In [ ]:
a = 2000
id(a)

140552528950704

In [ ]:
a = a + 1
id(a)

140552528953136

In [ ]:
type(A)

NameError: ignored

In [ ]:
type(a)

int

In [ ]:
a = [1, 2, 3]
a

[1, 2, 3]

In [ ]:
id(a[2])

10914560

In [ ]:
list = ["A", "B"]
list[0] = "H"
print(list)

['H', 'B']

In [ ]:
a = 5
b = "Hello"
c = [1, 2, 3]
print(type(c))

<class 'list'>

In [ ]:
num_one = 10
id(num_one)

10914784

In [ ]:
print(num_one)

10

In [ ]:
num_one = 1
num_two = 2
type(num_one)

int

In [ ]:
print(num_one)

1

In [ ]:
import sys

In [ ]:
sys.getrefcount(num_one)

16032

In [ ]:
#참조되고 있는 화살표의 갯수를 띄워주는것.
num_one = 1000
num_one = 2000
sys.getrefcount(num_one)

3

In [ ]:
sys.getrefcount(num_two)

8211

In [ ]:
#2000이라는 객체에 8211만큼 참조한다(화살표개수가있는것)

In [ ]:
num_one = 123402
sys.getrefcount(num_one)

3

In [ ]:
a = 1
id(a)

10914496

In [ ]:
b = 1
id(b)

10914496

In [ ]:
sys.getrefcount(a)

16033

In [ ]:
a = 12225576
sys.getrefcount(a)

3

In [ ]:
globals()

{'In': ['',
  "model = Sequentail()\nmodel.add(Dense(512, input_shape=(2,)))\nmodel.add(Activation('relu'))\nmodel.add(Dropout(0.1))\nmodel.add(Dense(512))\nmodel.add(Activation('relu'))\nmodel.add(Dropout(0.1))\nmodel.add(Dense(3))\nmodel.add(Activation('softmax'))",
  'model.summary()',
  'print("Hello,World!")',
  'print(1)',
  'print([1,2,3])',
  'print("Hi",123)',
  'print(1):print(2)',
  'print(1);print(2)',
  '1+2',
  'a=1\nif a == 1:\n    print("1234")',
  'a=1\nif a == 1\n    print("1234")',
  'a=1\nif a == 1\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
  'a=1\nif a == 1:\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
  'a=1\nif a == 0:\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
  'a=1\nif a == 0:\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
  'improt os',
  'import os',
  'os.system("pause")',
  'import keyword\nprint(keyword.kwlist)',
  'import keyword\nprint(keyword.kwlist)',
  "string = 'name'\nprint(string)",
  'string = 123\nprint(string)',
  'string = 123\nprint(string)',
  'a = 1\ntype(a)',
  'id(a)',
  "a = 'string'\ntype(a)",
  'id(a)',
  'a = str(1)\ntype(a)',
  'a = 1\ntype(a)',
  'a = 1\ntype(a)',
  'a = 2000\nid(a)',
  'a = a + 1\nid(a)',
  'type(A)',
  'type(a)',
  'a = [1, 2, 3]\na',
  'id(a[2])',
  'a[2] = 5',
  'a[2] = 5',
  'list ["A", "B"]\nlist[0] = "H"\nlist',
  'list ["A", "B"]\nlist[0] = "H"\nprint(list)',
  'list = ["A", "B"]\nlist[0] = "H"\nprint(list)',
  'a = 5\nb = "Hello"\nc = [1, 2, 3]\nprint(type(c))',
  'num_one = 10\nid(num_one)',
  'print(num_one)',
  'num_one = 1\nnum_two = 2\ntype(num_one)\nprint(num_one)',
  'num_one = 1\nnum_two = 2\ntype(num_one)',
  'print(num_one)',
  'import sys',
  'sys.getrefcount(num_one)',
  '#참조되고 있는 화살표의 갯수를 띄워주는것.\nnum_one = 1000\nnum_one = 2000\nsys.getrefcount(num_one)',
  'sys.getrefcount(num_two)',
  '#2000이라는 객체에 8211만큼 참조한다',
  'num_one = 123402\nsys.getrefcount(num_one)',
  'a = 1\nid(a)',
  'b = 1\nid(b)',
  'sys.getrefcount(a)',
  'a = 12225576\nsys.getrefcount(a)',
  'globals()',
  'globals()'],
 'Out': {9: 3,
  18: 32512,
  24: int,
  25: 10914496,
  26: str,
  27: 140553103404816,
  28: str,
  29: int,
  30: int,
  31: 140552528950704,
  32: 140552528953136,
  34: int,
  35: [1, 2, 5],
  36: 10914560,
  43: 10914784,
  46: int,
  49: 16032,
  50: 3,
  51: 8211,
  53: 3,
  54: 10914496,
  55: 10914496,
  56: 16033,
  57: 3,
  58: {...}},
 '_': {...},
 '_18': 32512,
 '_24': int,
 '_25': 10914496,
 '_26': str,
 '_27': 140553103404816,
 '_28': str,
 '_29': int,
 '_30': int,
 '_31': 140552528950704,
 '_32': 140552528953136,
 '_34': int,
 '_35': [1, 2, 5],
 '_36': 10914560,
 '_43': 10914784,
 '_46': int,
 '_49': 16032,
 '_50': 3,
 '_51': 8211,
 '_53': 3,
 '_54': 10914496,
 '_55': 10914496,
 '_56': 16033,
 '_57': 3,
 '_58': {...},
 '_9': 3,
 '__': 3,
 '___': 16033,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__loader__': None,
 '__name__': '__main__',
 '__package__': None,
 '__spec__': None,
 '_dh': ['/content'],
 '_i': 'globals()',
 '_i1': "model = Sequentail()\nmodel.add(Dense(512, input_shape=(2,)))\nmodel.add(Activation('relu'))\nmodel.add(Dropout(0.1))\nmodel.add(Dense(512))\nmodel.add(Activation('relu'))\nmodel.add(Dropout(0.1))\nmodel.add(Dense(3))\nmodel.add(Activation('softmax'))",
 '_i10': 'a=1\nif a == 1:\n    print("1234")',
 '_i11': 'a=1\nif a == 1\n    print("1234")',
 '_i12': 'a=1\nif a == 1\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
 '_i13': 'a=1\nif a == 1:\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
 '_i14': 'a=1\nif a == 0:\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
 '_i15': 'a=1\nif a == 0:\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
 '_i16': 'improt os',
 '_i17': 'import os',
 '_i18': 'os.system("pause")',
 '_i19': 'import keyword\nprint(keyword.kwlist)',
 '_i2': 'model.summary()',
 '_i20': 'import keyword\nprint(keyword.kwlist)',
 '_i21': "string = 'name'\nprint(string)",
 '_i22': 'string = 123\nprint(string)',
 '_i23': 'string = 123\nprint(string)',
 '_i24': 'a = 1\ntype(a)',
 '_i25': 'id(a)',
 '_i26': "a = 'string'\ntype(a)",
 '_i27': 'id(a)',
 '_i28': 'a = str(1)\ntype(a)',
 '_i29': 'a = 1\ntype(a)',
 '_i3': 'print("Hello,World!")',
 '_i30': 'a = 1\ntype(a)',
 '_i31': 'a = 2000\nid(a)',
 '_i32': 'a = a + 1\nid(a)',
 '_i33': 'type(A)',
 '_i34': 'type(a)',
 '_i35': 'a = [1, 2, 3]\na',
 '_i36': 'id(a[2])',
 '_i37': 'a[2] = 5',
 '_i38': 'a[2] = 5',
 '_i39': 'list ["A", "B"]\nlist[0] = "H"\nlist',
 '_i4': 'print(1)',
 '_i40': 'list ["A", "B"]\nlist[0] = "H"\nprint(list)',
 '_i41': 'list = ["A", "B"]\nlist[0] = "H"\nprint(list)',
 '_i42': 'a = 5\nb = "Hello"\nc = [1, 2, 3]\nprint(type(c))',
 '_i43': 'num_one = 10\nid(num_one)',
 '_i44': 'print(num_one)',
 '_i45': 'num_one = 1\nnum_two = 2\ntype(num_one)\nprint(num_one)',
 '_i46': 'num_one = 1\nnum_two = 2\ntype(num_one)',
 '_i47': 'print(num_one)',
 '_i48': 'import sys',
 '_i49': 'sys.getrefcount(num_one)',
 '_i5': 'print([1,2,3])',
 '_i50': '#참조되고 있는 화살표의 갯수를 띄워주는것.\nnum_one = 1000\nnum_one = 2000\nsys.getrefcount(num_one)',
 '_i51': 'sys.getrefcount(num_two)',
 '_i52': '#2000이라는 객체에 8211만큼 참조한다',
 '_i53': 'num_one = 123402\nsys.getrefcount(num_one)',
 '_i54': 'a = 1\nid(a)',
 '_i55': 'b = 1\nid(b)',
 '_i56': 'sys.getrefcount(a)',
 '_i57': 'a = 12225576\nsys.getrefcount(a)',
 '_i58': 'globals()',
 '_i59': 'globals()',
 '_i6': 'print("Hi",123)',
 '_i7': 'print(1):print(2)',
 '_i8': 'print(1);print(2)',
 '_i9': '1+2',
 '_ih': ['',
  "model = Sequentail()\nmodel.add(Dense(512, input_shape=(2,)))\nmodel.add(Activation('relu'))\nmodel.add(Dropout(0.1))\nmodel.add(Dense(512))\nmodel.add(Activation('relu'))\nmodel.add(Dropout(0.1))\nmodel.add(Dense(3))\nmodel.add(Activation('softmax'))",
  'model.summary()',
  'print("Hello,World!")',
  'print(1)',
  'print([1,2,3])',
  'print("Hi",123)',
  'print(1):print(2)',
  'print(1);print(2)',
  '1+2',
  'a=1\nif a == 1:\n    print("1234")',
  'a=1\nif a == 1\n    print("1234")',
  'a=1\nif a == 1\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
  'a=1\nif a == 1:\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
  'a=1\nif a == 0:\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
  'a=1\nif a == 0:\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
  'improt os',
  'import os',
  'os.system("pause")',
  'import keyword\nprint(keyword.kwlist)',
  'import keyword\nprint(keyword.kwlist)',
  "string = 'name'\nprint(string)",
  'string = 123\nprint(string)',
  'string = 123\nprint(string)',
  'a = 1\ntype(a)',
  'id(a)',
  "a = 'string'\ntype(a)",
  'id(a)',
  'a = str(1)\ntype(a)',
  'a = 1\ntype(a)',
  'a = 1\ntype(a)',
  'a = 2000\nid(a)',
  'a = a + 1\nid(a)',
  'type(A)',
  'type(a)',
  'a = [1, 2, 3]\na',
  'id(a[2])',
  'a[2] = 5',
  'a[2] = 5',
  'list ["A", "B"]\nlist[0] = "H"\nlist',
  'list ["A", "B"]\nlist[0] = "H"\nprint(list)',
  'list = ["A", "B"]\nlist[0] = "H"\nprint(list)',
  'a = 5\nb = "Hello"\nc = [1, 2, 3]\nprint(type(c))',
  'num_one = 10\nid(num_one)',
  'print(num_one)',
  'num_one = 1\nnum_two = 2\ntype(num_one)\nprint(num_one)',
  'num_one = 1\nnum_two = 2\ntype(num_one)',
  'print(num_one)',
  'import sys',
  'sys.getrefcount(num_one)',
  '#참조되고 있는 화살표의 갯수를 띄워주는것.\nnum_one = 1000\nnum_one = 2000\nsys.getrefcount(num_one)',
  'sys.getrefcount(num_two)',
  '#2000이라는 객체에 8211만큼 참조한다',
  'num_one = 123402\nsys.getrefcount(num_one)',
  'a = 1\nid(a)',
  'b = 1\nid(b)',
  'sys.getrefcount(a)',
  'a = 12225576\nsys.getrefcount(a)',
  'globals()',
  'globals()'],
 '_ii': 'a = 12225576\nsys.getrefcount(a)',
 '_iii': 'sys.getrefcount(a)',
 '_oh': {9: 3,
  18: 32512,
  24: int,
  25: 10914496,
  26: str,
  27: 140553103404816,
  28: str,
  29: int,
  30: int,
  31: 140552528950704,
  32: 140552528953136,
  34: int,
  35: [1, 2, 5],
  36: 10914560,
  43: 10914784,
  46: int,
  49: 16032,
  50: 3,
  51: 8211,
  53: 3,
  54: 10914496,
  55: 10914496,
  56: 16033,
  57: 3,
  58: {...}},
 '_sh': <module 'IPython.core.shadowns' from '/usr/local/lib/python3.6/dist-packages/IPython/core/shadowns.py'>,
 'a': 12225576,
 'b': 1,
 'c': [1, 2, 3],
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x7fd4fccb6978>,
 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x7fd4fceefb00>>,
 'keyword': <module 'keyword' from '/usr/lib/python3.6/keyword.py'>,
 'list': ['H', 'B'],
 'num_one': 123402,
 'num_two': 2,
 'os': <module 'os' from '/usr/lib/python3.6/os.py'>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x7fd4fccb6978>,
 'string': 123,
 'sys': <module 'sys' (built-in)>}

In [ ]:
locals()

{'In': ['',
  "model = Sequentail()\nmodel.add(Dense(512, input_shape=(2,)))\nmodel.add(Activation('relu'))\nmodel.add(Dropout(0.1))\nmodel.add(Dense(512))\nmodel.add(Activation('relu'))\nmodel.add(Dropout(0.1))\nmodel.add(Dense(3))\nmodel.add(Activation('softmax'))",
  'model.summary()',
  'print("Hello,World!")',
  'print(1)',
  'print([1,2,3])',
  'print("Hi",123)',
  'print(1):print(2)',
  'print(1);print(2)',
  '1+2',
  'a=1\nif a == 1:\n    print("1234")',
  'a=1\nif a == 1\n    print("1234")',
  'a=1\nif a == 1\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
  'a=1\nif a == 1:\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
  'a=1\nif a == 0:\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
  'a=1\nif a == 0:\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
  'improt os',
  'import os',
  'os.system("pause")',
  'import keyword\nprint(keyword.kwlist)',
  'import keyword\nprint(keyword.kwlist)',
  "string = 'name'\nprint(string)",
  'string = 123\nprint(string)',
  'string = 123\nprint(string)',
  'a = 1\ntype(a)',
  'id(a)',
  "a = 'string'\ntype(a)",
  'id(a)',
  'a = str(1)\ntype(a)',
  'a = 1\ntype(a)',
  'a = 1\ntype(a)',
  'a = 2000\nid(a)',
  'a = a + 1\nid(a)',
  'type(A)',
  'type(a)',
  'a = [1, 2, 3]\na',
  'id(a[2])',
  'a[2] = 5',
  'a[2] = 5',
  'list ["A", "B"]\nlist[0] = "H"\nlist',
  'list ["A", "B"]\nlist[0] = "H"\nprint(list)',
  'list = ["A", "B"]\nlist[0] = "H"\nprint(list)',
  'a = 5\nb = "Hello"\nc = [1, 2, 3]\nprint(type(c))',
  'num_one = 10\nid(num_one)',
  'print(num_one)',
  'num_one = 1\nnum_two = 2\ntype(num_one)\nprint(num_one)',
  'num_one = 1\nnum_two = 2\ntype(num_one)',
  'print(num_one)',
  'import sys',
  'sys.getrefcount(num_one)',
  '#참조되고 있는 화살표의 갯수를 띄워주는것.\nnum_one = 1000\nnum_one = 2000\nsys.getrefcount(num_one)',
  'sys.getrefcount(num_two)',
  '#2000이라는 객체에 8211만큼 참조한다',
  'num_one = 123402\nsys.getrefcount(num_one)',
  'a = 1\nid(a)',
  'b = 1\nid(b)',
  'sys.getrefcount(a)',
  'a = 12225576\nsys.getrefcount(a)',
  'globals()',
  'globals()',
  'locals()'],
 'Out': {9: 3,
  18: 32512,
  24: int,
  25: 10914496,
  26: str,
  27: 140553103404816,
  28: str,
  29: int,
  30: int,
  31: 140552528950704,
  32: 140552528953136,
  34: int,
  35: [1, 2, 5],
  36: 10914560,
  43: 10914784,
  46: int,
  49: 16032,
  50: 3,
  51: 8211,
  53: 3,
  54: 10914496,
  55: 10914496,
  56: 16033,
  57: 3,
  58: {...},
  59: {...}},
 '_': {...},
 '_18': 32512,
 '_24': int,
 '_25': 10914496,
 '_26': str,
 '_27': 140553103404816,
 '_28': str,
 '_29': int,
 '_30': int,
 '_31': 140552528950704,
 '_32': 140552528953136,
 '_34': int,
 '_35': [1, 2, 5],
 '_36': 10914560,
 '_43': 10914784,
 '_46': int,
 '_49': 16032,
 '_50': 3,
 '_51': 8211,
 '_53': 3,
 '_54': 10914496,
 '_55': 10914496,
 '_56': 16033,
 '_57': 3,
 '_58': {...},
 '_59': {...},
 '_9': 3,
 '__': {...},
 '___': 3,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__loader__': None,
 '__name__': '__main__',
 '__package__': None,
 '__spec__': None,
 '_dh': ['/content'],
 '_i': 'globals()',
 '_i1': "model = Sequentail()\nmodel.add(Dense(512, input_shape=(2,)))\nmodel.add(Activation('relu'))\nmodel.add(Dropout(0.1))\nmodel.add(Dense(512))\nmodel.add(Activation('relu'))\nmodel.add(Dropout(0.1))\nmodel.add(Dense(3))\nmodel.add(Activation('softmax'))",
 '_i10': 'a=1\nif a == 1:\n    print("1234")',
 '_i11': 'a=1\nif a == 1\n    print("1234")',
 '_i12': 'a=1\nif a == 1\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
 '_i13': 'a=1\nif a == 1:\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
 '_i14': 'a=1\nif a == 0:\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
 '_i15': 'a=1\nif a == 0:\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
 '_i16': 'improt os',
 '_i17': 'import os',
 '_i18': 'os.system("pause")',
 '_i19': 'import keyword\nprint(keyword.kwlist)',
 '_i2': 'model.summary()',
 '_i20': 'import keyword\nprint(keyword.kwlist)',
 '_i21': "string = 'name'\nprint(string)",
 '_i22': 'string = 123\nprint(string)',
 '_i23': 'string = 123\nprint(string)',
 '_i24': 'a = 1\ntype(a)',
 '_i25': 'id(a)',
 '_i26': "a = 'string'\ntype(a)",
 '_i27': 'id(a)',
 '_i28': 'a = str(1)\ntype(a)',
 '_i29': 'a = 1\ntype(a)',
 '_i3': 'print("Hello,World!")',
 '_i30': 'a = 1\ntype(a)',
 '_i31': 'a = 2000\nid(a)',
 '_i32': 'a = a + 1\nid(a)',
 '_i33': 'type(A)',
 '_i34': 'type(a)',
 '_i35': 'a = [1, 2, 3]\na',
 '_i36': 'id(a[2])',
 '_i37': 'a[2] = 5',
 '_i38': 'a[2] = 5',
 '_i39': 'list ["A", "B"]\nlist[0] = "H"\nlist',
 '_i4': 'print(1)',
 '_i40': 'list ["A", "B"]\nlist[0] = "H"\nprint(list)',
 '_i41': 'list = ["A", "B"]\nlist[0] = "H"\nprint(list)',
 '_i42': 'a = 5\nb = "Hello"\nc = [1, 2, 3]\nprint(type(c))',
 '_i43': 'num_one = 10\nid(num_one)',
 '_i44': 'print(num_one)',
 '_i45': 'num_one = 1\nnum_two = 2\ntype(num_one)\nprint(num_one)',
 '_i46': 'num_one = 1\nnum_two = 2\ntype(num_one)',
 '_i47': 'print(num_one)',
 '_i48': 'import sys',
 '_i49': 'sys.getrefcount(num_one)',
 '_i5': 'print([1,2,3])',
 '_i50': '#참조되고 있는 화살표의 갯수를 띄워주는것.\nnum_one = 1000\nnum_one = 2000\nsys.getrefcount(num_one)',
 '_i51': 'sys.getrefcount(num_two)',
 '_i52': '#2000이라는 객체에 8211만큼 참조한다',
 '_i53': 'num_one = 123402\nsys.getrefcount(num_one)',
 '_i54': 'a = 1\nid(a)',
 '_i55': 'b = 1\nid(b)',
 '_i56': 'sys.getrefcount(a)',
 '_i57': 'a = 12225576\nsys.getrefcount(a)',
 '_i58': 'globals()',
 '_i59': 'globals()',
 '_i6': 'print("Hi",123)',
 '_i60': 'locals()',
 '_i7': 'print(1):print(2)',
 '_i8': 'print(1);print(2)',
 '_i9': '1+2',
 '_ih': ['',
  "model = Sequentail()\nmodel.add(Dense(512, input_shape=(2,)))\nmodel.add(Activation('relu'))\nmodel.add(Dropout(0.1))\nmodel.add(Dense(512))\nmodel.add(Activation('relu'))\nmodel.add(Dropout(0.1))\nmodel.add(Dense(3))\nmodel.add(Activation('softmax'))",
  'model.summary()',
  'print("Hello,World!")',
  'print(1)',
  'print([1,2,3])',
  'print("Hi",123)',
  'print(1):print(2)',
  'print(1);print(2)',
  '1+2',
  'a=1\nif a == 1:\n    print("1234")',
  'a=1\nif a == 1\n    print("1234")',
  'a=1\nif a == 1\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
  'a=1\nif a == 1:\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
  'a=1\nif a == 0:\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
  'a=1\nif a == 0:\n    print("1입니다")\nelse:\n    print("1이 아닙니다")',
  'improt os',
  'import os',
  'os.system("pause")',
  'import keyword\nprint(keyword.kwlist)',
  'import keyword\nprint(keyword.kwlist)',
  "string = 'name'\nprint(string)",
  'string = 123\nprint(string)',
  'string = 123\nprint(string)',
  'a = 1\ntype(a)',
  'id(a)',
  "a = 'string'\ntype(a)",
  'id(a)',
  'a = str(1)\ntype(a)',
  'a = 1\ntype(a)',
  'a = 1\ntype(a)',
  'a = 2000\nid(a)',
  'a = a + 1\nid(a)',
  'type(A)',
  'type(a)',
  'a = [1, 2, 3]\na',
  'id(a[2])',
  'a[2] = 5',
  'a[2] = 5',
  'list ["A", "B"]\nlist[0] = "H"\nlist',
  'list ["A", "B"]\nlist[0] = "H"\nprint(list)',
  'list = ["A", "B"]\nlist[0] = "H"\nprint(list)',
  'a = 5\nb = "Hello"\nc = [1, 2, 3]\nprint(type(c))',
  'num_one = 10\nid(num_one)',
  'print(num_one)',
  'num_one = 1\nnum_two = 2\ntype(num_one)\nprint(num_one)',
  'num_one = 1\nnum_two = 2\ntype(num_one)',
  'print(num_one)',
  'import sys',
  'sys.getrefcount(num_one)',
  '#참조되고 있는 화살표의 갯수를 띄워주는것.\nnum_one = 1000\nnum_one = 2000\nsys.getrefcount(num_one)',
  'sys.getrefcount(num_two)',
  '#2000이라는 객체에 8211만큼 참조한다',
  'num_one = 123402\nsys.getrefcount(num_one)',
  'a = 1\nid(a)',
  'b = 1\nid(b)',
  'sys.getrefcount(a)',
  'a = 12225576\nsys.getrefcount(a)',
  'globals()',
  'globals()',
  'locals()'],
 '_ii': 'globals()',
 '_iii': 'a = 12225576\nsys.getrefcount(a)',
 '_oh': {9: 3,
  18: 32512,
  24: int,
  25: 10914496,
  26: str,
  27: 140553103404816,
  28: str,
  29: int,
  30: int,
  31: 140552528950704,
  32: 140552528953136,
  34: int,
  35: [1, 2, 5],
  36: 10914560,
  43: 10914784,
  46: int,
  49: 16032,
  50: 3,
  51: 8211,
  53: 3,
  54: 10914496,
  55: 10914496,
  56: 16033,
  57: 3,
  58: {...},
  59: {...}},
 '_sh': <module 'IPython.core.shadowns' from '/usr/local/lib/python3.6/dist-packages/IPython/core/shadowns.py'>,
 'a': 12225576,
 'b': 1,
 'c': [1, 2, 3],
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x7fd4fccb6978>,
 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x7fd4fceefb00>>,
 'keyword': <module 'keyword' from '/usr/lib/python3.6/keyword.py'>,
 'list': ['H', 'B'],
 'num_one': 123402,
 'num_two': 2,
 'os': <module 'os' from '/usr/lib/python3.6/os.py'>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x7fd4fccb6978>,
 'string': 123,
 'sys': <module 'sys' (built-in)>}

In [ ]:
abs()

TypeError: ignored

In [ ]:
a = 1.0
type(a)

float

In [ ]:
x = 10 
print(type(x))

<class 'int'>

In [ ]:
x = 0.1
print(type(x))

<class 'float'>

In [ ]:
type(a[0])

TypeError: ignored

In [ ]:
x = (1, 2, 3)
print(type(x))

<class 'tuple'>

In [ ]:
x = {1:"일", 2:"이"}
print(type(x))

<class 'dict'>

In [ ]:
x = 10
y = 10
x == y

True

In [ ]:
x is y

True

In [ ]:
x = 123
y = 123
id(x)

10918400

In [ ]:
id(y)

10918400

In [ ]:
x == y

True

In [ ]:
x is y

True

In [ ]:
#선생님이 id로 했을때 x,y달라서 그래서 is가 false로 뜸

In [ ]:
x = 23232323
y = 23232323
id(x)

140552527528720

In [ ]:
id(y)

140552527528368

In [ ]:
test1 = 23010
test2 = 23010
id(test1)

140552527528208

In [ ]:
id(test2)

140552527529168

In [ ]:
x == y

True

In [ ]:
x is y

False

In [ ]:
a = 1 
help(a)

Help on int object:

class int(object)
 |  int(x=0) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(...)
 |      default object formatter
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      Returns size in memory, in bytes
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  bit_length(...)
 |      int.bit_length() -> int
 |
 |      Number of bits necessary to represent self in binary.
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  from_bytes(...) from builtins.type
 |      int.from_bytes(bytes, byteorder, *, signed=False) -> int
 |
 |      Return the integer represented by the given array of bytes.
 |
 |      The bytes argument must be a bytes-like object (e.g. bytes or bytearray).
 |
 |      The byteorder argument determines the byte order used to represent the
 |      integer.  If byteorder is 'big', the most significant byte is at the
 |      beginning of the byte array.  If byteorder is 'little', the most
 |      significant byte is at the end of the byte array.  To request the native
 |      byte order of the host system, use `sys.byteorder' as the byte order value.
 |
 |      The signed keyword-only argument indicates whether two's complement is
 |      used to represent the integer.
 |
 |  to_bytes(...)
 |      int.to_bytes(length, byteorder, *, signed=False) -> bytes
 |
 |      Return an array of bytes representing an integer.
 |
 |      The integer is represented using length bytes.  An OverflowError is
 |      raised if the integer is not representable with the given number of
 |      bytes.
 |
 |      The byteorder argument determines the byte order used to represent the
 |      integer.  If byteorder is 'big', the most significant byte is at the
 |      beginning of the byte array.  If byteorder is 'little', the most
 |      significant byte is at the end of the byte array.  To request the native
 |      byte order of the host system, use `sys.byteorder' as the byte order value.
 |
 |      The signed keyword-only argument determines whether two's complement is
 |      used to represent the integer.  If signed is False and a negative integer
 |      is given, an OverflowError is raised.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [ ]:
help(int)

Help on class int in module builtins:

class int(object)
 |  int(x=0) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(...)
 |      default object formatter
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      Returns size in memory, in bytes
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  bit_length(...)
 |      int.bit_length() -> int
 |
 |      Number of bits necessary to represent self in binary.
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  from_bytes(...) from builtins.type
 |      int.from_bytes(bytes, byteorder, *, signed=False) -> int
 |
 |      Return the integer represented by the given array of bytes.
 |
 |      The bytes argument must be a bytes-like object (e.g. bytes or bytearray).
 |
 |      The byteorder argument determines the byte order used to represent the
 |      integer.  If byteorder is 'big', the most significant byte is at the
 |      beginning of the byte array.  If byteorder is 'little', the most
 |      significant byte is at the end of the byte array.  To request the native
 |      byte order of the host system, use `sys.byteorder' as the byte order value.
 |
 |      The signed keyword-only argument indicates whether two's complement is
 |      used to represent the integer.
 |
 |  to_bytes(...)
 |      int.to_bytes(length, byteorder, *, signed=False) -> bytes
 |
 |      Return an array of bytes representing an integer.
 |
 |      The integer is represented using length bytes.  An OverflowError is
 |      raised if the integer is not representable with the given number of
 |      bytes.
 |
 |      The byteorder argument determines the byte order used to represent the
 |      integer.  If byteorder is 'big', the most significant byte is at the
 |      beginning of the byte array.  If byteorder is 'little', the most
 |      significant byte is at the end of the byte array.  To request the native
 |      byte order of the host system, use `sys.byteorder' as the byte order value.
 |
 |      The signed keyword-only argument determines whether two's complement is
 |      used to represent the integer.  If signed is False and a negative integer
 |      is given, an OverflowError is raised.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [ ]:
print(1+1)

2

In [ ]:
print(1-2)

-1

In [ ]:
print(2*2)

4

In [ ]:
print(5/2)

2.5

In [ ]:
print(4/2)

2.0

In [ ]:
print(7//3)

2

In [ ]:
print(7.5//3)

2.0

In [ ]:
print(7%3)

1

In [ ]:
print(2**10)

1024

In [ ]:
print(7%3)

1

In [ ]:
a = 2
a += 4
print(a)

6

In [ ]:
a = a+4

In [ ]:
x3=3
print(x)

23232323

In [ ]:
a != 10

False

In [ ]:
a > 2

True

In [ ]:
print(a >5 and a< 11)

True

In [ ]:
print(a > 5 and a<10)

False

In [ ]:
print(not(x>5 and x <10))

True

In [ ]:
0.1* 0.1

0.010000000000000002

In [ ]:
0.2 * 0.2

0.04000000000000001

In [ ]:
0.1 * 0.1 == 0.01

False

In [ ]:
int("1")

1

In [ ]:
int("abc")

ValueError: ignored

In [ ]:
x = 10
y = 11
x, y = y, x

In [ ]:
x

11

In [ ]:
y

10

In [ ]:
x, y , z = "abc"

In [ ]:
a

10

In [ ]:
x,y,z = "abc"

In [ ]:
x

'a'

In [ ]:
x = "abc"
x

'abc'

In [ ]:
x = '"abc"'

In [ ]:
print(x)

"abc"

In [ ]:
x= "hi"
y = "hello"
id(X)

NameError: ignored

In [ ]:
id(x)

140553103098688

In [ ]:
id(y)

140552527422608

In [ ]:
x = x + y 
x

'hihello'

In [ ]:
id(x)

140552527271896

In [ ]:
x = "hi"
z = x * y

TypeError: ignored

In [ ]:
z = x * 3
z

'hihihi'

In [ ]:
z[0]

'h'

In [ ]:
z[1]

'i'

In [ ]:
z[3]

'i'

In [ ]:
z[0:3]

'hih'

In [ ]:
z[0:5:2]

'hhh'

In [ ]:
first_name = "ada"
last_name = "lovelave"
full_name = frist name + " " + last_name

SyntaxError: ignored

In [ ]:
print(full_name)

NameError: ignored

In [ ]:
"aaa".index("a")

0

In [ ]:
first_name in "d"

NameError: ignored

In [ ]:
d in first_name

NameError: ignored

In [ ]:
"d" in first_name

NameError: ignored

In [ ]:
"d" in first_name

NameError: ignored

In [ ]:
len(full_name)

NameError: ignored

In [ ]:
min(full_name)

NameError: ignored

In [ ]:
max(full_name)

NameError: ignored

In [ ]:
full_name.index("a")

NameError: ignored

In [ ]:
print(full_name[-1])

NameError: ignored

In [ ]:
txt = "python"
print(txt[0:2])

py

In [ ]:
print(txt[1:4])

yth

In [ ]:
print(txt[-3:-1])

ho

In [ ]:
print(txt[:3])

pyt

In [ ]:
print(txt[2::])

thon

In [ ]:
txt = "Hi,Kim!"
print(len(txt))

7

In [ ]:
txt.replace("Hi,"Hello")

SyntaxError: ignored

In [ ]:
txt.replace("Hi,Hello")

TypeError: ignored

In [ ]:
name = "Ada lovelacee"
print(name.upper())

ADA LOVELACEE

In [ ]:
id(name)

140552527158192

In [ ]:
favorite_language = 'python'
print(favorate_language.lstrip())

NameError: ignored

In [ ]:
name1 = "Tom"
score1 = 90
print(f"이름: {name1} 성적: {score1}")

이름: Tom 성적: 90

In [ ]:
10 > 9

True

In [ ]:
print(5 >= 3)

True

In [ ]:
print(9 > 10)

False

In [ ]:
print(10 != 11)

True

In [ ]:
print(100 < 99)

False

In [ ]:
a = 1
print(a)

1

In [ ]:
total = 0
for i in range(100):
  total +ㄴ= i
print("최종값:", total)

SyntaxError: ignored

In [ ]:
midpoint = 5
lower = []; upper = []
for i in range(10):
  if (i < midpoint):
    lower.append(i)
  else:
    upper.append(i)
print("작은 것:", lower)
print("큰 것:", upper)

작은 것: [0, 1, 2, 3, 4]
큰 것: [5, 6, 7, 8, 9]

In [ ]:
fruits =[]
fruits.append('바나나')
fruits.insert(0, '키위')
fruits[1:1] = ['사과'] #추가
fruits[1] = ["수박"] #변경 + 또다른리스트 추가

print(fruits)

['키위', ['수박'], '바나나']

In [ ]:
age = 27

if age < 8: 
  fee = 1500
elif age < 20:
  print("이용료는:", + 15,000"원")
elif age < 60:
  print("이용료는:", + 20,000"원")
else:
  fee = 0
print(fee)

SyntaxError: ignored

In [ ]:
if r in letter:
  print("있음")
else

SyntaxError: ignored

In [ ]:
if 'r' in 'letter':
  print("있음")
else:
  print("없음")

있음

In [ ]:
if 'o' in ['l','e','t','t','e','r']:
  print("있음")
else:
  print("없음")

없음

In [ ]:
if 'o' in {'l','e','t','t','e','r'}:
  print("있음")
else:
  print("없음")

없음

In [ ]:
score = input
score = int(score)
if score >= 90:
  print('A')

TypeError: ignored

In [ ]:
for i in range(0,11,2):
  print(i)

0
2
4
6
8
10

In [ ]:
print(11 in range(0,10))

False

In [ ]:
on_marx = 'Group1'
type(on_marx)

str

In [ ]:
empty_tuple = ()
print(empty_tuple)

()

In [ ]:
mul_o_t = ('group1',)*3
print(mul_o_t)

('group1', 'group1', 'group1')

In [ ]:
empty_tuple = ()
print(empty_tuple)

()

In [ ]:
names = ("lisa", "bart a", "merge")
for name in names:
  print(f'내 이름은 {name}입니다')

내 이름은 lisa입니다
내 이름은 bart a입니다
내 이름은 merge입니다

In [ ]:
empty_tuple = ()
if empty_tuple:
  print("not empty")
else:
  print("empty")

empty

In [ ]:
txt = " apples"
print("app" in txt)

True

In [ ]:
items = ["ruler", "pen", "eraser"]
items[2] = "scissors"
print(items)

['ruler', 'pen', 'scissors']

In [ ]:
motocycles = ['honda', 'yamaha', 'suzuki']
print(motocycles)
motocycles.append('ducati')
print(motocycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [ ]:
a = [1,2,3,4]
a.insert(0, [11,12])
print(a)
a[0:0] = [11, 12] #반복문처럼 돌면서 추가
print(a)

[[11, 12], 1, 2, 3, 4]
[11, 12, [11, 12], 1, 2, 3, 4]

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
del motocycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
a = ["123","456"]
a.remove("456")
print(a)

['123']

In [ ]:
motocycles = ['honda','yamaha']
motocycles.remove('yamaha')
print(motocycles)

['honda']

In [ ]:

cnt = array.count("123")
for i in range(array.count("123")):
  array.remove("123")

#2
cnt = 0
maxcnt = array.count("123")
while cnt < maxcnt
    array.remove("123")
    cnt++;

SyntaxError: ignored

In [ ]:
a = ["1","2","3","4"]
id(a)

139933971323784

In [ ]:
motorcycles = ['honda', 'yamaha']
motorcycles.extend(['hollyda'])
print(motorcycles)

['honda', 'yamaha', 'hollyda']

In [ ]:
cars = ['h','b','a', 't']
cars.sort(reverse=True)
print(cars)

['t', 'h', 'b', 'a']

In [ ]:
digit = [1,2,3,4,5,6,7,8,9,0]
print(min(digit))

0

In [ ]:
text = ["A", "b"]
print(min(text))

A

In [ ]:
text = ['a', 'b']
range(len(text))

range(0, 2)

In [ ]:
for x in range(len(text)):
  print(x)

0
1

In [ ]:
type(range(5))

range

In [ ]:
text[5:5] 5번째 끝에다가

SyntaxError: ignored

In [ ]:
a =range(3)
a

range(0, 3)

In [ ]:
type(a)

range

In [ ]:
array = list(a)
array

[0, 1, 2]

In [ ]:
list(range(0,3))

[0, 1, 2]

In [ ]:
a = range(3)

In [ ]:
print(list("hello world"))

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
def a(param):
    return 0

In [ ]:
def a(param):
  yeild 0

SyntaxError: ignored

In [ ]:
alphabets = ['a','b','c']
for aplhabet in alphabets:
  print(alphabet)

NameError: ignored

In [ ]:
fruits = ['lemon', 'kiwi','orange']
for i,fruit in enumerate(fruits):
  print(i,fruit)

0 lemon
1 kiwi
2 orange

In [ ]:
a = ["a","b","c"]
for value in a:
  print(value)

a
b
c

In [ ]:
for value in enumerate(a):
  print(value)

(0, 'a')
(1, 'b')
(2, 'c')

In [ ]:
for idx, value in enumerate(a):
  print(value); print(idx)

a
0
b
1
c
2

In [ ]:
squares = []
for value in range(1,11):
  square = value**2
  squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
x = ["a", "b", "c"]

y = x
y[1] ="z"
print(y)

['a', 'z', 'c']

In [5]:
a = [1, 2, 3]
b = a
c = a[:]
d = list(a)
E = a.copy()